@model HW5.Models.Assignment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Assignment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PriorityHW)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriorityHW)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeworkTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeworkTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
