@model IEnumerable<HW5.Models.Assignment>

@{
    ViewBag.Title = "Index";
}

<h2>Assignment Lists</h2>

<p>
    @Html.ActionLink("Add more Assignments", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PriorityHW)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeworkTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.OrderByDescending(modelItem => modelItem.DueDate)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PriorityHW)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeworkTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
